<div id="{{ object.data.uniqueid }}" class="c-accordion {{ object.get_spacing_top_class_string }}">
    {% if not object.isNested %}
        <div class="{{ object.get_container_class_string }}">
    {% endif %}

    {% for item in object.data.items %}
        <div class="c-accordion__item {{loop.first ? 'border-t'}}" x-data="{open:  {{ item.initiallyOpened ? 'true' : 'false' }}}">
            <button class="c-accordion__item__toggle" @click="open = !open">
                <span class="flex-grow text-xl font-medium ">{{ item.title }}</span>
                <div class="c-accordion__item__toggle__icon">
                    <svg class="text-white transition-transform transform scale-75 c-icon" :class="{ 'rotate-180': open }">
                        <use xlink:href="{{ function('get_template_directory_uri') }}/assets/dist/svg/sprite.svg#icon-chevron-down"></use>
                    </svg>
                </div>
            </button>

            <div x-ref="container" class="c-accordion__container c-accordion__container--closed" :style="open ? 'max-height: ' + $refs.container.scrollHeight + 'px' : ''">
                <div class="pt-3 c-text">{{ item.content }}</div>
            </div>

        </div>
    {% endfor %}
        
    {% if object.data.show_faq_schema %}

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [
                {% for item in object.data.items %}
                    {% set separator = loop.last ? '' : ',' %}
                    {
                        "@type": "Question",
                        "name": "{{ item.title }}",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "{{item.content | striptags('<a>')}}"
                            }
                    }{{separator}}
                {% endfor %}
            ]
        }
        </script>
        
    {% endif %}

    {% if not object.isNested %}
        </div>
    {% endif %}
</div>
