<div class="overflow-hidden">
	<div x-data="window.gallery()" class="{{ object.get_spacing_top_class_string }} {{ object.get_padding_top_class_string }} {{ object.get_padding_bottom_class_string }} {{ object.get_padding_top_class_string }} {{ object.get_padding_bottom_class_string }} {{ object.containerClasses | join(' ') }} {{ object.get_container_class_string }} relative">

		<div class="relative overflow-x-scroll overflow-y-hidden c-scroll-tiles__container scrollbar-hidden c-gallery" x-on:scroll="scroll($event)">
			<div class="">
				<div class="relative flex space-x-6 c-scroll-tiles c-gallery-wrap" data-gallery>
					{% for image in object.data.images %}
						<a href="{{ function('wp_get_attachment_image_url', image, 'c18-full') }}" aria-label="Bild öffnen"  class="flex-grow-0 flex-shrink-0 block object-cover w-full h-full sm:w-1/2 md:w-1/2 c-scroll-tiles__image-tile">
							{{ get_attachment_image(image, 'c18-desktop', 'object-cover w-auto min-w-full h-auto min-h-full') }}
							<div>
								<svg class="text-3xl c-icon">
									<use xlink:href="{{ function('get_template_directory_uri') }}/assets/dist/svg/sprite.svg#icon-zoom-in"></use>
								</svg>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<div>
{#			<div class="c-scroll-tiles__fader c-scroll-tiles__fader--left" x-show="!leftEnd" x-transition:enter="transition duration-200 transform ease-out" x-transition:leave="transition duration-200 transform ease-in" x-transition:leave-end="opacity-0"></div>#}
{#			<div class="c-scroll-tiles__fader c-scroll-tiles__fader--right" x-show="!rightEnd" x-transition:enter="transition duration-200 transform ease-out" x-transition:leave="transition duration-200 transform ease-in" x-transition:leave-end="opacity-0"></div>#}

			<div class="c-gallery-prev absolute flex items-center justify-center transform -translate-y-1/2 bg-white rounded-none -left-1 lg:-left-12 top-1/2 z-49 hover:text-red-600 focus:text-red-600 c-scroll-tiles__nav__wrapper c-scroll-tiles__nav__wrapper--prev" x-show="!leftEnd" x-transition:enter="transition duration-200 transform ease-out" x-transition:enter-start="scale-75" x-transition:leave="transition duration-100 transform ease-in" x-transition:leave-end="opacity-0 scale-90">
				<button class="flex items-center justify-center w-8 h-8 xs:w-11 xs:h-11 c-scroll-tiles__nav c-scroll-tiles__nav--prev" aria-label="Vorheriges Element" @click="prev($event)">
					<svg class="pointer-events-none c-icon c-scroll-tiles__nav__icon c-scroll-tiles__nav__icon--left">
						<use xlink:href="{{ function('get_template_directory_uri') }}/assets/dist/svg/sprite.svg#icon-chevron-left"></use>
					</svg>
				</button>
			</div>

			<div class="c-gallery-next absolute flex items-center justify-center transform -translate-y-1/2 bg-white rounded-none -right-1 lg:-right-12 top-1/2 z-49 hover:text-red-600 focus:text-red-600 c-scroll-tiles__nav__wrapper c-scroll-tiles__nav__wrapper--next" x-show="!rightEnd" x-transition:enter="transition duration-200 transform ease-out" x-transition:enter-start="scale-75" x-transition:leave="transition duration-100 transform ease-in" x-transition:leave-end="opacity-0 scale-90">
				<button class="flex items-center justify-center w-8 h-8 xs:w-11 xs:h-11 c-scroll-tiles__nav c-scroll-tiles__nav--next" aria-label="Nächstes Element" @click="next($event)">
					<svg class="pointer-events-none c-icon c-scroll-tiles__nav__icon c-scroll-tiles__nav__icon--right ">
						<use xlink:href="{{ function('get_template_directory_uri') }}/assets/dist/svg/sprite.svg#icon-chevron-right"></use>
					</svg>
				</button>
			</div>
		</div>

	</div>
</div>

