<div id="{{ object.data.uniqueid }}" class="c-ctabox {{ object.get_spacing_top_class_string }}">
    <div class="{{ object.get_container_class_string }} p-0 md:px-4">
        <div class="bg-gray-100 c-ctabox-wrap">
            <div class="c-ctabox-content flex flex-col items-center text-center">
                {% if object.data.title %}
                    <h2 class="mt-0 text-3xl font-bold lg:text-4xl">
                        {{ object.data.title }}
                    </h2>
                {% endif %}

                {% if object.data.body %}
                    <div class="mt-12 text-xl lg:text-2xl c-ctabox-content-text">
                        {{ object.data.body }}
                    </div>
                {% endif %}
                {% if object.data.btn %}
                    {% if object.data.file %}
                        {% include 'templates/partials/button.twig' with {
                            type: 'a',
                            href: object.data.file.url,
                            text: object.data.btn,
                            download: 'download',
                            target: '_self'
                        } %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>