{% if object.data.weighting == 'one-two' and object.data.columns == 'two' %}
    {% set column_1_classes = 'md:w-1/3' %}
    {% set column_2_classes = 'md:w-2/3' %}

{% elseif object.data.weighting == 'two-one' and object.data.columns == 'two' %}
    {% set column_1_classes = 'md:w-2/3' %}
    {% set column_2_classes = 'md:w-1/3' %}

{% elseif object.data.weighting == 'three-two' and object.data.columns == 'two' %}
    {% set column_1_classes = 'md:w-3/5' %}
    {% set column_2_classes = 'md:w-2/5' %}

{% elseif object.data.weighting == 'two-three' and object.data.columns == 'two' %}
    {% set column_1_classes = 'md:w-2/5' %}
    {% set column_2_classes = 'md:w-3/5' %}

{% elseif object.data.weighting == 'one-one' and object.data.columns == 'two' %}
    {% set column_1_classes = 'md:w-1/2' %}
    {% set column_2_classes = 'md:w-1/2' %}
{% endif %}


<div id="{{ object.data.uniqueid }}" class="{{ object.get_spacing_top_class_string }} {{ object.get_alternate_background_string }} {{ object.get_padding_top_class_string }} {{ object.get_padding_bottom_class_string }}">
    <div class="{{ object.get_container_class_string }}">
        <div class="
            md:flex md:-mx-4 lg:-mx-6 {{ align_items }}
            {{ object.data.v_alignment == 'center' ? 'md:items-center' }}
            {{ object.data.v_alignment == 'bottom' ? 'md:items-end' }}
            {{ object.data.v_alignment == 'top' ? 'md:items-start' }}
            {{ object.data.v_alignment == 'stretch' ? 'md:items-stretch' }}
            {{ object.data.inverted == true ? 'flex-row-reverse' }}
        ">
            <div class="w-full flex flex-col md:px-4 lg:px-6 {{ column_1_classes }} {{ object.data.v_alignment == 'stretch' ? 'justify-between' }}">
                {{render_slot(post.ID, object.slots.slot1, object.data.column1, object)}}
            </div>
            <div class="w-full flex flex-col md:px-4 mt-4 lg:px-6 md:mt-0 {{ column_2_classes }} {{ object.data.v_alignment == 'stretch' ? 'justify-between' }}">
                {{render_slot(post.ID, object.slots.slot2, object.data.column2, object)}}
            </div>
            {% if object.data.columns == 'three' or object.data.columns == 'four' %}
                <div class="w-full flex flex-col md:px-4 mt-4 lg:px-6 md:mt-0 {{ column_3_classes }} {{ object.data.v_alignment == 'stretch' ? 'justify-between' }}">
                    {{render_slot(post.ID, object.slots.slot3, object.data.column3, object)}}
                </div>
            {% endif %}
            {% if object.data.columns == 'four' %}
                <div class="w-full flex flex-col md:px-4 mt-4 lg:px-6 md:mt-0 {{ column_4_classes }} {{ object.data.v_alignment == 'stretch' ? 'justify-between' }}">
                    {{render_slot(post.ID, object.slots.slot4, object.data.column4, object)}}
                </div>
            {% endif %}
        </div>
    </div>
</div>
