<div class="c-testimonial {{ object.get_spacing_top_class_string }} {{ object.get_padding_top_class_string }} {{ object.get_padding_bottom_class_string }} {{ object.get_padding_top_class_string }} {{ object.get_padding_bottom_class_string }} relative">
    <div class="c-testimonial-text text-lg relative">
        <svg class="absolute">
            <use xlink:href="{{ function('get_template_directory_uri') }}/assets/dist/svg/sprite.svg#icon-quote"></use>
        </svg>
        {{ object.data.text }}</div>
    <div class="c-testimonial-name mt-12 text-red uppercase font-medium">{{ object.data.name }}</div>
    <div class="c-testimonial-position mt-6 uppercase text-red font-medium">{{ object.data.position }}</div>
</div>
