<div id="{{ object.data.uniqueid }}" class="c-text {{ object.get_spacing_top_class_string }} {{ object.get_alternate_background_string }} {{ object.get_padding_top_class_string }} {{ object.get_padding_bottom_class_string }}">
    <div class="{{ object.get_container_class_string }}">
        <div class="c-text__columns c-text__columns--count-{{ object.data.columns }}">
            {{object.data.content}}
        </div>
    </div>
</div>