<div id="{{ object.data.uniqueid }}" class="c-text text-lg {{ object.get_spacing_top_class_string }}">
    {{object.data.content}}

    {# Context Awareness Data #}

    {# 
    {{object.slotName}}
    {{object.parentObject.data.weighting}}
    {{object.getRenderSize}} 
    #}
    
</div>
